@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
.success {
  color: $success;
  font-weight: 600;
}

.danger {
  color: $danger;
}
// general
.bg-input-color {
  background-color: $bg-input-color;
}

@mixin image-size($height, $widht, $fit) {
  height: $height;
  width: $widht;
  object-fit: $fit;
}

//..... login page.....//
.user-profile-picture {
  @include image-size(2.5rem, 2.5rem, cover);
}

.btn-login {
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary;
  }
}

form {
  max-width: 28rem;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-toggle-password {
    top: 16%;
    right: 1%;
  }
}

//..... home page....//
// nav
.main-navigation {
  background-color: $nav-bg;
}
.navbar {
  i {
    font-size: 1.5rem;
  }
  .current i {
    color: $secondary;
  }
  .nav {
    background-color: $nav-bg;
  }

  .navbar-brand img {
    width: 2rem;
  }

  .form-control {
    border-radius: 1.5rem;
  }

  .profil-img {
    @include image-size(2rem, 2rem, cover);
  }

  .btn-search {
    border-radius: 0;
    & i:hover {
      color: $secondary;
    }
  }
  .nav-link:hover {
    box-shadow: 0 -2px 0 $gray-700 inset;
  }
}

// main
.profil-extra-info img {
  @include image-size(5rem, 5rem, cover);
}

// contacts

.contacts img,
.feed-img {
  @include image-size(3rem, 3rem, cover);
}

// feeds
.card {
  border: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-img {
  @include image-size(15rem, 100%, cover);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
//.... profil page .....//
.profil {
  .profil-picture {
    @include image-size(5rem, 5rem, cover);
  }
  .gallery img {
    @include image-size(12rem, 100%, cover);
  }
}

@media only screen and (min-width: 768px) {
  .main-navigation {
    backdrop-filter: blur(5px);
  }
  .profil {
    position: fixed;
    top: 15%;
    left: 0;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1200px) {
  .events {
    position: fixed;
    right: 2%;
    top: 12%;
  }
} ;
