@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// costume scrollbar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

// General style

.success {
  color: $success;
  font-weight: 600;
}

.danger {
  color: $danger;
}

.bg-input-color {
  background-color: $bg-input-color;
}

@mixin image-size($height, $widht, $fit) {
  height: $height;
  width: $widht;
  object-fit: $fit;
}

// nav
.main-navigation {
  background-color: $nav-bg;
}
.navbar {
  i {
    font-size: 1.5rem;
  }
  .current i {
    color: $secondary;
  }
  .nav {
    background-color: $nav-bg;
  }

  .navbar-brand img {
    width: 2rem;
  }

  .form-control {
    border-radius: 1.5rem;
  }

  .profil-img {
    @include image-size(2rem, 2rem, cover);
  }

  .btn-search {
    border-radius: 0;
    & i:hover {
      color: $secondary;
    }
  }
  .nav-link:hover {
    box-shadow: 0 -2px 0 $gray-700 inset;
  }
}

// forms
form {
  max-width: 28rem;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-toggle-password {
    top: 16%;
    right: 1%;
  }
}

.btn-login {
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary;
  }
}

//avatar
.user-profile-picture {
  @include image-size(2.5rem, 2.5rem, cover);
}

// main
.profil-extra-info img {
  @include image-size(auto, 9rem, contain);
}

// contacts
.contacts {
  overflow-x: scroll;
}
.contacts img,
.feed-img {
  @include image-size(3rem, 3rem, cover);
}

// feeds
.card {
  border: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-img {
  border-radius: 0;
  @include image-size(15rem, 100%, cover);
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 0.7;
  }
}

//.... profil page .....//

.profil-picture {
  @include image-size(10rem, 10rem, cover);
}

// @media
@media only screen and (min-width: 768px) {
  .main-navigation {
    backdrop-filter: blur(5px);
  }

  .profile {
    position: fixed;
    height: 100vh;
    left: 4%;
  }

  .profil-info {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .profil-extra-info {
    position: fixed;
    top: 5%;
    z-index: 3;
  }

  .contacts-container {
    margin-top: 20rem;
  }
}
@media only screen and (min-width: 1200px) {
  .events {
    position: fixed;
    right: 4%;
    top: 12%;
  }
} ;
